<p id="notice"><%= notice %></p>

<h1>Truck name: <%= @truck.name %></h1>

</br>

<h2>Air temperature</h2>
<%= line_chart @air_temp_entries, xtitle: "Time", ytitle: "Temperature", colors: ["#0b0"], suffix: " 째C" %>
<h2>Fridge temperature</h2>
<%= line_chart @fridge_temp_entries, xtitle: "Time", ytitle: "Temperature", colors: ["#00b"], suffix: " 째C" %>

<div style="display:none;">
  <div style="display:table-cell; width:50%;">
    <h2>Air temperature</h2>
    <%= line_chart @air_temp_entries, xtitle: "Time", ytitle: "Temperature", colors: ["#0b0"], suffix: " 째C" %>
  </div>
  <div style="display:table-cell; width:50%;">
    <h2>Fridge temperature</h2>
    <%= line_chart @fridge_temp_entries, xtitle: "Time", ytitle: "Temperature", colors: ["#00b"], suffix: " 째C" %>
  </div>
</div>

</br>

<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>

</br>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
